@page "/"

<div class="flex-container">
    <div class="sidebar">Sidebar</div>
    <div class="mycontent">
        <div class="toolbar"></div>
        <div class="maincontent">
            <div class="h-10">1</div>
            <div class="h-10">2</div>
            <div class="h-10">3</div>
            <div class="h-10">4</div>
            <div class="h-10">5</div>
            <div class="h-10">7</div>
            <div class="h-10">8</div>
            <div class="h-10">9</div>
            <div class="h-10">10</div>
            <div class="h-10">11</div>
        </div>
        <div class="settings-container">
            <div class="settings1">
                <div class="h-10">1</div>
                <div class="h-10">2</div>
                <div class="h-10">3</div>
                <div class="h-10">4</div>
                <div class="h-10">5</div>
            </div>
            <div class="settings2">
                <div class="h-10">1</div>
                <div class="h-10">2</div>
                <div class="h-10">3</div>
                <div class="h-10">4</div>
                <div class="h-10">5</div>
            </div>
        </div>
    </div>
</div>
